<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="Maintain It!">
  <meta name="author" content="TCDEV LLC">
  <link rel="icon" href="../../favicon.ico">

  <title>Maintain It!</title>


  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]>
  <script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Maintain It!</h1>
    <p>Get help from your residents and guests to keep things running smoothly.</p>
    <p>
      <%= link_to('Sign Up! ->', new_user_registration_path, { class: 'btn btn-primary btn-lg', role: "button" }) %>
    </p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Sign up!</h2>
      <p>Register with your email and join a property site - like your mom's cabin or your uncle's beach house.</p>
      <p>
        <%= link_to('Sign Up! ->', new_user_registration_path, { class: 'btn btn-default', role: "button" }) %>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Check in!</h2>
      <p>Check in when you arrive to let folks know you are on site.</p>
      <p><a class="btn btn-default" href="#" role="button">Check in!&raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Help Out!</h2>
      <p>Get notified or check the site for ways to help keep the property clean and working great for everyone.</p>
      <p><a class="btn btn-default" href="#" role="button">Help Out! &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; 2017 TCDEV LLC</p>
  </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
</body>
</html>
